<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Survey">
    <meta name="author" content="Jan Hartman">
    <title>CCIM Survey</title>
    <link href="static/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-2">Construction of Conceptual Image Maps survey</h1>
            <p class="lead">Thank you for submitting your response!</p>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="static/jquery.min.js"></script>
<script src="static/bootstrap.bundle.min.js"></script>

</body>

</html>
